<div class="panel panel-default">
  <div class="panel-body">
    <%= image_tag avatar_url(message.user), class: 'img-circle avatar-small' %>
    <strong><%= message.user.full_name %></strong>

    <span class="pull-right"><%= message.message_time %></span>
    <br />
    <div class="row-space-2">
      <%= message.content %>
    </div>
  </div>
</div>
