<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
    </ul>
    <br>
    <%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-default wide" %>
  </div>

  <div class="col-md-9 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">Your Profile</div>
      <div class="panel-body">
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render 'shared/devisemes' %>

            <div class="form-group">
              <%= f.text_field :first_name, autofocus: true, :placeholder => "First Name", :class => 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.text_field :last_name, autofocus: true, :placeholder => "Last Name", :class => 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, :placeholder => "Email", :class => 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, :placeholder => "Phone Number", :class => 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, rows: 5, cols: 25,  :placeholder => "Description", :class => 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", :placeholder => "New Password (leave blank if you don't want to change it)", :class => 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password", :class => 'form-control' %>
            </div>

            <div class="actions">
              <%= f.submit "Save", :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
