<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Your conversations</div>
      <div class="panel-body">
        <div class="container">
          <% @conversations.each do |conversation| %>
            <% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
            <% last_message = conversation.messages.order(created_at: :desc).first %>

            <%= link_to conversation_messages_path(conversation) do %>
              <div class="row conversation">
                <div class="col-md-2">
                  <%= image_tag avatar_url(other), class: "img-circle avatar-medium" %>
                </div>
                <div class="col-md-2">
                  <%= other.full_name %><br />
                  <%= last_message.message_time %>
                </div>
                <div class="col-md-8">
                  <%= last_message.content %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
