<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(@user), class: "avatar-full" %>
      <% if current_user != @user %>
        <div class="row-space-2">
          <%= link_to 'Send message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: 'btn btn-primary wide' %>
        </div>
      <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Verification</div>
      <div class="panel-body">
        Email Address<br>
        Phone Number
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h2><%= @user.full_name %></h2>

    <div class="description row-space-3">
      <%= @user.description %>
    </div>

    <h4>Listings (<%= @tours.size %>)</h4><br />

    <div class="row">
      <% @tours.each do |tour| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag first_photo_url(tour, :medium) %>
            </div>
            <div class="panel-body">
              <%= link_to tour.title, tour %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <h4>Reviews</h4><br />

    <% @tours.each do |tour| %>
      <% if tour.reviews.exists? %>
        <% tour.reviews.each do |review| %>
          <div class="row">
            <div class="col-md-2 text-center">
              <%= image_tag avatar_url(review.user), class: 'img-circle avatar-medium' %><br />
              <%= review.user.full_name %>
            </div>
            <div class="col-md-10">
              <%= link_to tour.title, tour %><br />
              <%= review.comment %><br />
              <%= review.created_at.strftime('%v') %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
