<div class="panel panel-default">
  <div class="panel-heading">
    Create your beautiful tour
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @tour, html: { multipart: true } do |f| %>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Tour category</label>
              <%= f.select :category, [%w(Culture Culture), %w(Food Food), %w(Cruise Cruise), %w(Lifestyle Lifestyle)], id: 'category', prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-4 select">
            <div class="form-group">
              <label>People capacity</label>
              <%= f.select :people_nb, [['1',1], ['2',2], ['3',3], ['4',4], ['5+',5]], id: 'people_nb', prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Tour name</label>
            <%= f.text_field :title, placeholder: 'Tour name', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Description</label>
            <%= f.text_area :description, rows: 5, placeholder: 'Tell us about your tour', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Address</label>
            <%= f.text_field :address, placeholder: 'Address', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Price per person</label>
              <div class="input-group">
                <div class="input-group-addon">JPY</div>
                <%= f.number_field :price, placeholder: 'e.g. JPY5000', class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>

        <div id="photos"><%= render 'photos/list' %>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="btn btn-default btn-file">
                <i class="fa fa-cloud-upload fa-lg"></i> Upload photos
                <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= f.check_box :active %> Active
          </div>
        </div>

        <div class="actions">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
