<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Your Listing", tours_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link" %></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listings
            </div>
            <div class="panel-body">

                <% @tours.each do |tour| %>
                    <div class="row">
                        <div class="col-md-2">
                            <%= image_tag tour.photos[0].image.url(:thumb) if tour.photos.length > 0 %>
                        </div>
                        <div class="col-md-7">
                            <h4><%= tour.title %></h4>
                        </div>
                        <div class="col-md-3 right">
                            <%= link_to "Update", edit_tour_path(tour), class: "btn btn-primary" %>
                        </div>
                    </div>
                    <hr>
                <% end %>

            </div>
        </div>
    </div>
</div>
