<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photos.first.image.url(), class: 'img-responsive' if @photos.any? %>
      </div>
    </div>

    <br />

    <!-- Main Info -->
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag avatar_url(@tour.user), class: "img-circle avatar-large" %><br /><br />
            <%= @tour.user.full_name %>
          </div>

          <div class="col-md-9">
            <h4><%= @tour.title %></h4>
            <%= @tour.address %>

            <div class="row text-center row-space-1">
              <div class="col-sm-3">
                <i class="fa fa-home fa-2x"></i>
              </div>
              <div class="col-sm-3">
                <i class="fa fa-users fa-2x"></i>
              </div>
              <div class="col-sm-3">
                <i class="fa fa-bed fa-2x"></i>
              </div>
              <div class="col-sm-3">
                <i class="fa fa-ship fa-2x"></i>
              </div>
            </div>

            <div class="row text-center">
              <div class="col-sm-3">
                <%= @tour.category %>
              </div>
              <div class="col-sm-3">
                <%= @tour.people_nb %> People
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Reservation form -->
        <%= render 'reservations/form' %>
      </div>
    </div>


    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h2>About the listing</h2>
        <p><%= @tour.description %></p>
      </div>
    </div>

    <!-- Amenities -->
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@tour.active %>" >TV</li>
              <li class="<%= 'text-line-through' if !@tour.active %>" >TV</li>
              <li class="<%= 'text-line-through' if !@tour.active %>" >TV</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@tour.active %>" >TV</li>
              <li class="<%= 'text-line-through' if !@tour.active %>" >TV</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <% if @photos %>
            <ol class="carousel-indicators">
              <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
              <% end %>
            </ol>
          <% end %>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% if @photos %>
              <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos.first.id %>">
                  <%= image_tag photo.image.url() %>
                </div>
              <% end %>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <br />
    <hr />

    <!-- Reviews -->
    <div class="row">
      <div class="col-md-12">
        <h3>Reviews <span id="average_rating"><span> (<%= @reviews.count %>)</h3>
        <div class="container">
          <div><%= render 'reviews/form' if @booked && !@has_review %></div>
          <div><%= render 'reviews/list' %>
        </div>
      </div>
    </div>

    <!-- Google Map -->
    <div class="row">
      <div class="col-md-12">
        <div id="map"></div>
        <style>
#map {
  height: 400px;
  width: 100%;
}
        </style>
        <script>
function initMap() {
  var uluru = {lat: <%= @tour.latitude %>, lng: <%= @tour.longitude %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: uluru
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map,
    title: "<%= @tour.title %>"
  });
}
        </script>
        <script async defer
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZdhttLLtHOU3U0jwzU7uzDWGu1OnLmYo&callback=initMap">
        </script>
      </div>
    </div>


    <!-- Close by tours -->
    <h3>Near by</h3>
    <div class="row">
      <% @tour.nearbys(10).each do |tour| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag first_photo_url(tour, :medium) %>
            </div>
            <div class="panel-body">
              <%= link_to tour.title, tour %><br />
              (<%= tour.distance.round(2) %> km away)
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<script>
$('#average_rating').raty({
  path: '/assets',
  readOnly: true,
  score: <%= @tour.average_rating %>
});
</script>
