<%= form_tag search_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<br />

<div class="text-center">
  <h2>Just for the weekend</h2>
  <p>Discover new, inspiring places</p>
</div>

<br />

<div class="row">
  <div class="col-md-4 col-sm-12">
    <%= link_to search_path(search:'new york') do %>
      <div class="discovery-card" style="background-image: url('/assets/New_York.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>New York</strong></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4 col-sm-6">
    <%= link_to search_path(search:'london') do %>
      <div class="discovery-card" style="background-image: url('/assets/London.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>London</strong></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4 col-sm-6">
    <%= link_to search_path(search:'berlin') do %>
      <div class="discovery-card" style="background-image: url('/assets/Berlin.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>Berlin</strong></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<div class="text-center">
  <h2>Explore the world</h2>
  <p>See where people are traveling</p>
</div>

<div class="row">
  <% @tours.each do |tour| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag tour.photos[0].image.url(:medium) if tour.photos.length > 0 %>
        </div>
        <div class="panel-body">
          <%= image_tag avatar_url(tour.user), class: "img-circle avatar-small" %>&nbsp;
          <%= link_to tour.title, tour %>
        </div>
      </div>
    </div>

  <% end %>
</div>

<script>
$(function() {
  $("#start_date").datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr('disabled', false);
    }
  });

  $("#end_date").datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
})
</script>

