<div id="wrapper">

  <div id="sidebar">
    <div id="widget" class="sticky">
    </div>
    <div class="sticky-stopper"></div>
  </div>

  <div id="article">

    <div class="row">

      <div class="col-md-12">

        <%= search_form_for @search, url: search_path do |f| %>

          <div class="row">
            <div class="col-md-3">
              <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :price_gteq, placeholder: "Min Price", class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :price_lteq, placeholder: "Max Price", class: "form-control" %>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[tour_type_eq_any][]", "Entire" %> Entire tour
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[tour_type_eq_any][]", "Private" %> Private tour
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[tour_type_eq_any][]", "Shared" %> Shared tour
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Accommodate</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Bedtours</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Bathtours</label>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[is_tv_eq]", true %> TV
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_kitchen_eq]", true %> Kitchen
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_internet_eq]", true %> Internet
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_heating_eq]", true %> Heating
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_air_eq]", true %> Air Conditioning
            </div>
          </div>

          <br>

          <div class="row">
            <%= f.submit "Search", class: "btn btn-primary" %>
          </div>

        <% end %>

        <hr>

        <div class="row">
          <% @arrTours.each do |tour| %>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading preview">
                  <%= image_tag tour.photos[0].image.url(:medium) if tour.photos.length > 0 %>
                </div>
                <div class="panel-body">
                  <%= link_to tour.title, tour %>
                </div>
              </div>
            </div>

          <% end %>
        </div>

      </div>


    </div>

  </div>

</div>

<script>
$(function() {
  $("#start_date").datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr('disabled', false);
    }
  });

  $("#end_date").datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
})
</script>

<script>
$( document ).ready(function() {
  console.log( "document ready!" );

  var $sticky = $('.sticky');
  var $stickyrStopper = $('.sticky-stopper');
  if (!!$sticky.offset()) { // make sure ".sticky" element exists

    var generalSidebarHeight = $sticky.innerHeight();
    var stickyTop = $sticky.offset().top;
    var stickOffset = 0;
    var stickyStopperPosition = $stickyrStopper.offset().top;
    var stopPoint = stickyStopperPosition - generalSidebarHeight - stickOffset;
    var diff = stopPoint + stickOffset;

    $(window).scroll(function(){ // scroll event
      var windowTop = $(window).scrollTop(); // returns number

      if (stopPoint < windowTop) {
        $sticky.css({ position: 'absolute', top: diff });
      } else if (stickyTop < windowTop+stickOffset) {
        $sticky.css({ position: 'fixed', top: stickOffset });
      } else {
        $sticky.css({position: 'absolute', top: 'initial'});
      }
    });

  }
});
</script>

<script>
function initMap() {
  var uluru = {lat: <%= @arrTours.first.try(:latitude) || 35.6592247 %>, lng: <%= @arrTours.first.try(:longitude) || 139.6993015 %>};
  var map = new google.maps.Map(document.getElementById('widget'), {
    zoom: 14,
    center: uluru
  });

  <% @arrTours.each do |tour| %>
      var marker = new google.maps.Marker({
        position: {lat: <%= tour.latitude %>, lng: <%= tour.longitude %> },
        map: map,
        title: "<%= tour.title %>"
      });
<% end %>
}
</script>
<script async defer
                     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZdhttLLtHOU3U0jwzU7uzDWGu1OnLmYo&callback=initMap">
</script>


