<%= form_for([@tour, @tour.reservations.new]) do |f| %>

  <div class="row">
    <div class="col-md-12 price_tag">
      ¥<span><%= @tour.price %></span>
      <span class="pull-right">Per person</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>Check In</label>
      <%= f.text_field :start_date, readonly:true, placeholder: 'Start date', class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <label>Check Out</label>
      <%= f.text_field :end_date, readonly:true, placeholder: 'End date', class: 'form-control', disabled: 'true' %>
    </div>
  </div>

  <%= f.hidden_field :tour_id, value: @tour.id %>
  <%= f.hidden_field :price, value: @tour.price %>
  <%= f.hidden_field :total, id: 'reservation_total' %>

  <h4><span id="message"></span></h4>

  <div id="preview" style="display: none;">
    <table class="reservation-table">
      <tbody>
        <tr>
          <td>Day(s)</td>
          <td><span id="reservation_days"></span></td>
        </tr>
        <tr>
          <td>Total</td>
          <td>¥<span id="reservation_sum"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />
  <%= f.submit 'Book now', id: 'btn_book', class: 'btn btn-primary wide', disabled: true %>
<% end %>

<script>

  function unavailable(date) { 
    dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavalaibleDates) == -1];
  }

  function refreshReservationDisplay() {
    var start_date = $('#reservation_start_date').datepicker('getDate');
    var end_date = $('#reservation_end_date').datepicker('getDate');

    var input = {
      'start_date': start_date,
      'end_date': end_date,
    };

    $.ajax({
      url: "<%= preview_tour_reservations_path(@tour.id) %>",
      data: input,
      success: function(data) {
        if (data.conflict){
          $('#message').text('This date range is not available.');
          $('#preview').hide();
          $('#btn_book').attr('disabled', true);
        } else {
          $('#message').text('This date range is OK.');
          $('#preview').show();
          $('#btn_book').attr('disabled', false);

          var days = (end_date - start_date)/1000/60/60/24 + 1;
          var total = days * <%= @tour.price %>;
          $('#reservation_days').text(days);
          $('#reservation_sum').text(total);
          $('#reservation_total').val(total);
        }
      }
    });
  }

  $(function() {
    unavalaibleDates = [];

    $.ajax({
      url: "<%= preload_tour_reservations_path(@tour.id) %>",
      dataType: 'json',
      success: function(data) {
        $.each(data, function(arrID, arrValue) {
          for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
            unavalaibleDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });
      }
    });

    $('#reservation_start_date').datepicker({
      dateFormat: 'yy-mm-dd',
      minDate: 0,
      maxDate: '3m',
      beforeShowDay: unavailable,
      onSelect: function(selected) {
        $('#reservation_end_date').datepicker("option", "minDate", selected);
        $('#reservation_end_date').attr('disabled', false)
        refreshReservationDisplay();
      }
    });
    $('#reservation_end_date').datepicker({
      dateFormat: 'yy-mm-dd',
      minDate: 0,
      maxDate: '3m',
      beforeShowDay: unavailable,
      onSelect: function(selected) {
        $('#reservation_start_date').datepicker("option", "maxDate", selected);
        refreshReservationDisplay();
      }
    });
  });
</script>
