<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Your Listing", tours_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link" %></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your Reservations
            </div>
            <div class="panel-body">
              <% @tours.each do |tour| %>

                <% tour.reservations.each do |reservation| %>
                    <div class="row">
                        <div class="col-md-2">
                          <%= reservation.start_date.strftime('%v') %>
                        </div>
                        <div class="col-md-6">
                          <%= link_to tour_path(reservation.tour) do %>
                            <%= image_tag first_photo_url(reservation.tour, :thumb) %>
                          <% end %>
                        </div>
                        <div class="col-md-2">
                          <%= link_to user_path(reservation.user) do %>
                          <%= image_tag avatar_url(reservation.user), class: 'img-circle avatar-medium' %>
                          <% end %>
                        </div>
                        <div class="col-md-2 right">
                          <h4>¥<%= reservation.total %></h4>
                        </div>
                    </div>
                    <hr>
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
</div>
