<div class="row">
  <div class="col-md-6 col-md-offset-3 center">

    <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, class: 'btn btn-primary' %>

    <h2>Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password',  autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %> Remember Me
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log In", :class => "btn btn-primary" %>
        <%= link_to "Forgot Password", new_user_password_path, :class => "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
