<%= form_for([@tour, @tour.reviews.new]) do |f| %>

  <div id="user_rating"></div>

  <div class="form-group">
    <%= f.text_area :comment, rows: 3, class: 'form-control' %>
  </div>

  <%= f.hidden_field :tour_id, value: @tour.id %>

  <div class="actions">
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
$('#user_rating').raty({
  path: '/assets',
  scoreName: 'review[rating]',
  score: 1
});
</script>
