<% if @reviews.count == 0 %>
  <div class="text-center"><h4>There are no review yet</h4></div>
<% else %>
  <% @reviews.order(created_at: :desc).each do |r| %>
    <hr />
    <div class="row">
      <div class="col-md-1">
        <%= image_tag avatar_url(r.user), class: 'img-circle avatar-medium' %>
      </div>
      <div class="col-md-11">
        <strong><%= r.user.full_name %> <div id="rating_<%= r.id %>"></div></strong>
        <span class="pull-right">
          <%= link_to 'Remove my review', [@tour, r], method: :delete, data: { confirm: 'Are you sure?' } if current_user == r.user %>
        </span>
      </div>

      <div><%= r.created_at.strftime('%v') %></div>
      <div><%= r.comment %></div>
    </div>
  <script>
  $('#rating_<%= r.id %>').raty({
    path: '/assets',
    readOnly: true,
    score: <%= r.rating %>
  });
  </script>
  <% end %>
<% end %>


